<h2>Hi, <%= current_user.first_name%>!</h2>

<div class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h4>Here are your bookings:</h4>
    <div class="tabs">
      <a href="#" class="tab active">Sitters</a>
      <a href="#" class="tab">Owners</a>
    </div>
    <ul class="inbox">
      <% @bookings.each do |booking| %>
        <li class="message">
          <%= cl_image_tag booking.sitter.photo, height: 80, width: 80, crop: :fill, gravity: :face, class: "avatar" %>
          <div class="message-name">
            <h3><%= booking.sitter.first_name %></h3>
          </div>
          <div class="message-dates">
            <h3>From <%= booking.start_date %></h3>
            <h3>To <%= booking.end_date %></h3>
          </div>

          <div class="message-dog">
            <% booking.dogs.each do |dog| %>
            <%= cl_image_tag dog.photo, height: 80, width: 80, crop: :thumb, gravity: :face, class: "avatar" %>
              <a href="#"><%= dog.name %></a>
            <% end %>
          </div>
          <div class="message-price"><h3>8€</h3></div>
          <div class="message-status">
          <%# if booking.end_date.future? %>
            <!-- <p class="accepted">To come</p> -->
          <%# else %>
            <!-- <p class="done">Done</p></div> -->
          <%# end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
