<h2>Hi, <%= current_user.first_name %></h2>

<h3>This is your profile</h3>
<%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary" %>

<ul>
  <li> Name: <%= current_user.first_name %> <%= current_user.last_name %></li>
  <li> Address: <%= current_user.address %></li>
  <li> City: <%=  current_user.city %></li>
  <li> Accomodation: <%= current_user.accomodation %> </li>
  <li> Description: <%= current_user.description %> </li>
</ul>

<h3> Your dogs: </h3>

<div class="row">
  <div class="show-dogs">
    <% current_user.dogs.each do |dog| %>
    <div class="col-xs-3 col-sm-2">
      <%= cl_image_tag dog.photo, height: 80, width: 80, crop: :thumb, gravity: :face %>
    </div>
    <%= link_to "Edit #{dog.name}'s profile", edit_dog_path(dog), class: "btn btn-primary" %>
    <div class="col-xs-3 col-sm-6">
      <div class="description-dog">
        <h4><%= dog.name %></h4>
        <p><%= dog.breed %></p>
        <p><%= dog.age %> ans </p>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to "Add a dog", new_dog_path, class: "btn btn-primary" %>
</div>
