<div class="container-user">


  <div class="row" >
    <div class= "header-show">
    <div class="col-xs-3 col-sm-3">
    <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill, gravity: :face %>
    </div>

    <div class="col-xs-3 col-sm-6">
    <div class="description-user">
    <h4 class="user-name">Bonjour, je m'appelle <%= @user.first_name.upcase %> !</h4>

    <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
    </div>

    <p><%= @user.city.upcase %></p>
    <p> Membre depuis 2017</p>
    </div>
  </div>
  </div>
</div>

  <div class="box-description">
    <div class="row">
      <h5 class="header-description"> A propos de <%= @user.first_name %>  </h5>
    </div>
    <div class="row">
      <p class="description">
        <%= @user.description %>
      </p>
    </div>
  </div>
<div class="border"></div>


  <div class="row">
    <div class="show-dogs">
      <% @user.dogs.each do |dog| %>
      <div class="col-xs-3 col-sm-2">
        <%= cl_image_tag dog.photo, height: 80, width: 80, crop: :thumb, gravity: :face %>
      </div>
      <div class="col-xs-3 col-sm-6">
        <div class="description-dog">
          <h4><%= dog.name %></h4>
          <p><%= dog.breed %></p>
          <p><%= dog.age %> ans </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<div class="border"></div>


<div class="reviews-users">
  <div class="row">
    <div class="review-user">
      <div class="col-xs-3 col-sm-3">
        <img src="http://www.femalefirst.co.uk/image-library/square/500/d/dave-franco---wi07-13.jpg" class="img-review"">
        <p class="name-review">Jules</p>
      </div>
      <div class="col-xs-3 col-sm-6">
        <div class="description-user">
          <p>Merci à vous, <%= @user.first_name %> ! Votre chien a été super mignon :-)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="review-user">
      <div class="col-xs-3 col-sm-3">
        <img src="http://www.femalefirst.co.uk/image-library/square/500/d/dave-franco---wi07-13.jpg" class="img-review">
        <p class="name-review">Erica</p>
      </div>
      <div class="col-xs-3 col-sm-6">
        <div class="description-user">
          <p>Votre chien est un amour et s'en occuper a été un grand plaisir !</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="border"></div>


 <div class="box-description">
    <div class="row">
      <ul>Accomodation:
        <li>Flat</li>
      </ul>
  </div>
<div class="border"></div>
