<!-- show booking form for this sitter -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="sitter-card sitter-info">
        <%= cl_image_tag @sitter.photo, class: "avatar-large" %>
        <h2><%= @sitter.first_name %></h2>
        <%= link_to "Full profile", user_path(@sitter) %>
        <p>About this sitter:</p>
        <p> <%= @sitter.description %></p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="sitter-card sitter-booking">
        <h2>Price:</h2>
        <p> Walk: <strong>8€</strong> </p>
        <p> Day care: <strong>20€</strong> </p>
        <p> Overnight stay: <strong>30€</strong> </p>

        <%= simple_form_for [@sitter, @booking] do |f| %>
          <%= f.input :date, as: :date, html5: true, class: "form-space"  %>
          <%= f.collection_check_boxes :dog_ids, current_user.dogs, :id, :name  %>
          <%= f.button :submit, 'Book this sitter', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
